body {
    width: 900px;
    margin: 30px auto;
    box-sizing: border-box;
}

.header {
    box-shadow: 0 0 10px rgb(85, 75, 75);
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

}

a {
    text-decoration: none;
    color: #000;
}
.nav_link {
    
}

.nav_link:hover {
    text-decoration: underline;
}

.header__items {
    width: 170px;
}

@media screen (max-width: 375px) {
    .header {


    }
}

